<tr>
    <td style="padding: 0px 20px;">
        Hi All,
    </td>
</tr>

<tr>
    <td valign="middle" style="line-height:24px;padding: 15px 20px;">
        很高兴的告诉您，
    </td>
</tr>
<tr>
    <td valign="left" style="font-size: 36px;color: #323A45;">
        <div class="code">
            <div class="small content">
                本次系统数据库文件已经备份完成，具体内容见附件！
            </div>
        </div>
    </td>
</tr>

<tr>
    <td class="content">
        <%= Setting.app_name %>开发团队
    </td>
</tr>
