
<br>

<tr>
    <td style="padding: 0px 20px;">
        <p>您好/Hello <%= @mail[:name] %>!
    </td>
</tr>
<tr>
    <td valign="middle" style="line-height:24px;padding: 15px 20px;">
      <p>
        您正在申请修改系统密码,请点击下面按钮操作。 <br>
        Someone has requested a link to change your password. You can do this through the button below.
      </p>
    </td>
</tr>

<tr>
    <td class="content">
    <table cellpadding="0" cellspacing="0" role="presentation">
        <tbody><tr>
            <td style="mso-line-height-rule: exactly; mso-padding-alt: 16px 24px; border-radius: 4px; background-color: #7367f0; font-family: Montserrat, -apple-system, 'Segoe UI', sans-serif;">
                <a href=" <%= @mail[:url] %>" style="font-family: 'Montserrat', sans-serif; mso-line-height-rule: exactly; display: block; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; font-size: 16px; font-weight: 600; line-height: 100%; color: #ffffff; text-decoration: none;">立刻重置→</a>
            </td>
            </tr>
        </tbody>
    </table>
    </td>
</tr>


<tr>
  <td class="content">
    <p>

      或复制以下地址到浏览器上访问 <br>
      Or copy the following address to the browser.
    </p>
    <a href="<%=@mail[:url]%>" style="font-family: 'Montserrat', sans-serif; mso-line-height-rule: exactly; margin-bottom: 24px; display: block; font-size: 16px; line-height: 100%; color: #7367f0; text-decoration: none;"><%=@mail[:url]%></a>
  </td>
</tr>


<tr>
    <td valign="middle" style="line-height:24px;padding: 15px 20px;"> 
      <p>在访问上面的链接并创建新的链接之前，您的密码不会更改。<br>
       Your password won't change until you access the button above and create a new one.
      </p>
    </td>
</tr>

<br>
 