<tr>
    <td style="padding: 0px 20px;">
        Hi ,
    </td>
</tr>
<tr>
    <td valign="middle" style="line-height:24px;padding: 15px 20px;">
        您于 <%= System.time %>请求邮件, 邮件内容:
    </td>
</tr>

<tr>
    <td valign="left" style="font-size: 36px;color: #323A45;">
        <div class="code">
            <div class="small content">
                <%= @mail[:info] %>
            </div>
        </div>
    </td>
</tr>