
<br>

<tr>
    <td style="padding: 0px 20px;">
        Hello/ 您好 <%= @resource.email %>,
    </td>
</tr>
<tr>
    <td valign="middle" style="line-height:24px;padding: 15px 20px;">
      <p>
        您的邮箱已经成功修改 <br>
        We're contacting you to notify you that your password has been changed.
      </p>
    </td>
</tr>

<br>
