<br>

<tr>
    <td style="padding: 0px 20px;">
        <p>Hello/ 您好 <%= @resource.email %>!</p>
    </td>
</tr>
<tr>
    <td valign="middle" style="line-height:24px;padding: 15px 20px;">
      <p>
        您正在申请修改系统密码,请点击下面按钮操作。 <br>
        Someone has requested a link to change your password. You can do this through the button below.
      </p>

      <%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token)  , class: "mb-1 btn btn-warning"%>

    </td>
</tr>

<tr>
    <td valign="middle" style="line-height:24px;padding: 15px 20px;">
      <p>如非本人操作,请忽略该邮件。<br>
        If you didn't request this, please ignore this email.
      </p>
      <p>在访问上面的链接并创建新的链接之前，您的密码不会更改。<br>
       Your password won't change until you access the button above and create a new one.
      </p>
    </td>
</tr>

<br>
