<div class="flex-fill d-flex flex-column justify-content-center py-4">
  <div class="container-tight py-6">
    <div class="text-center mb-4">
      <a href="."><img src="<%= Setting.logo  %>" height="48" alt=""></a>
    </div>
    <form class="card card-md" id="new_user" action="/" accept-charset="UTF-8" method="post">
      <%= form_token %>
    
      <div class="card-body p-6">
        <div class="card-title">Create new account</div>
          <%= notices_message %>
          <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" name="user[name]" autocomplete="on" id="name" placeholder="您的姓名" required="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
        </div>

        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="email" class="form-control" name="user[email]" autocomplete="on" id="email" placeholder="您的邮箱" required="">
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
            <input type="password" class="form-control" name="user[password]" id="password" autocomplete="off" placeholder="您的密码"" data-parsley-trigger="change"  minlength="6"  required/>
          </label>
        </div>
        <div class="form-group">
          <input type="checkbox" class="form-check-input" name="user[agree]"  data-parsley-trigger="change"  required data-parsley-error-message="请阅读和同意注册协议">
          <span class="custom-control-label">Agree the <a href="javascript:void(0);">terms and policy</a></span>
        </div> 

        <div class="form-footer">
          <button type="submit" class="btn btn-primary w-100">Create new account</button>
        </div>
      </div>
    </form>
    <div class="text-center text-muted mt">
      Already have account? <a href="/login">Log in</a><br>
      Activation email not received <a href="/confirmation">Resend</a>
    </div>
  </div>
</div>


